* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  color: #444444ed;
}
.container {
  width: auto;
}
#about {
  margin-top: 2rem;
}

:root {
  /* Background Color */
  --bg-danger: rgba(0, 0, 0, 0.651);
  /* --bg-warning: #000; */
  --bg-warning : #ff7f5d;
}
/* margin: 0 auto 5rem auto; */
.line {
  width: 12rem;
  height: 3px;
  background: #fff;
  margin: 0 auto 0 2rem;
}
.line1 {
  width: 12rem;
  height: 3px;
  background: #fff;
  margin: 0 auto 5rem auto;
  margin-top: -1.6rem;
}
.line2 {
  width: 9rem;
  height: 3px;
  background: #262626;
  margin: 0 0 1rem;
}

.line3 {
  width: 7.5rem;
  height: 3px;
  background: #fff;
  margin: 0 auto 0 0.6rem;
}
/* ====Logo ====*/
.logo{
  width: 220px;
  position: absolute;
  top: 1%;
  left: 1%;
  bottom: 2%;
}


/* ====Navigation ====*/
.navbar {
  background-color: rgba(135, 140, 140, 0.801);
  
}
.navbar .nav-item {
  padding-left: 0.5rem;
}

.navbar .nav-item i {
  font-size: 0.9rem;
  transition: all ease-in-out 0.7s;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-family: "Sriracha", cursive;
}
.navbar .nav-item a {
  transition: all ease-in-out 0.7s;
  color: #313232;
  font-weight: 600;
  position: relative;
}
.navbar .nav-item a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.3rem;
  width: 0;
  bottom: -0.5rem;
  background-color: #fff;
  transition: all ease-in-out 0.7s;
}
.navbar .nav-item a:hover::after {
  width: 85%;
}

#header .fixed-top {
  box-shadow: 0 0.325rem 0.0975rem rgb(0 0 0 / 8%);
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
  color: #fff;
}
#header .navbar-toggler-icon {
  width: unset;
  height: unset;
}
#header .navbar-toggler:focus {
  box-shadow: none;
}
/* =====media query area ===== */

@media (max-width: 997px){
  .tankufooter{
    margin-top: 150px;
  }

}

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0 !important;
  }
  #about {
    margin-top: 0px;
    padding-top: 0px;
  }
  .about h1 {
    margin-top: 0;
    padding-top: 0;
  }
  .about_text {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
  }
  #service {
    margin: 0;
    padding: 0;
  }
  #service h1 {
    font-size: 2rem;
  }
  #service h5 {
    font-size: 1rem;
  }
  #service .service_card .card_botom .fas {
    font-size: 1rem;
  }

  .banner h1 {
    font-size: 2rem !important;
    font-weight: 150;
    padding-top: 2rem;
   }
  .banner p {
   font-size: 1.5rem !important;
   font-weight: 100;
  }

  .tankufooter{
    margin-top: 300px;
  }
}

@media (max-width: 575px) {
  .about_text {
    font-size: 0.8rem;
  }
  .about_text h1 {
    font-size: 1rem;
    padding-top: 0px;
  }
  #about {
    margin-top: 0;
    padding-left: 0;
    padding: 0px;
  }

  #service .service_card .body_area {
    text-align: left;
    justify-content: start;
  }
  #service .service_card .body_area p {
    font-size: 0.8rem;
  }
  #service .service_card .card_botom .fas {
    font-size: 0.8rem;
  }
  #service .service_card .card_botom {
    display: inline-block;
    text-align: left;
  }
  

}

@media (max-width: 508px) {
  #service {
    padding: 1.5rem !important;
  }
  #service h1 {
    font-size: 1.5rem;
  }
  #service .wrapper {
    padding: 1rem;
  }
  #service .service_card h5 {
    font-size: 0.8rem;
  }
  #service .service_card .body_area p {
    font-size: 0.7rem;
    text-align: left;
  }

  /* #service .service_card .card_top .fas {
    font-size: 1.2rem;
  } */

  #service .service_card .card_botom {
    justify-content: start;
  }

  #service .service_card .card_botom .fas {
    font-size: 0.6rem;
  }

  .tankufooter{
    margin-top: 200px;
  }
  
}

/* media query end */

/* ====Carousel CSS====*/
.carousel-item {
  height: 450px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  position: relative;
}
.carousel-caption h1,
p {
  color: #808080;
  text-align: justify;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
  background: transparent;
}
.home .slider-icon {
  font-size: 3rem;
  font-weight: 600;
  color: #e6002f;
}
.carousel-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  position: relative;
}

/*==== About Area =====*/
#about {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 970px;
  position: relative;
  border-bottom: 2px solid #262626;
}
#about .dark_overlay {
  background: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*==== Service Area =====*/

#service {
  background-color: #313232;

  padding: 2rem;
  /* height: 900px; */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
}
.wrapper {
  width: 100%;
  margin: 10% auto;
  box-shadow: 0 0 30px #fff;
  padding: 2rem;
}

#service h1 {
  text-align: center;
  /* border: 8px solid; */

  color: #878c8c;
  /* border-image: linear-gradient(45deg, #ff7100, #484848) 10; */
  position: relative;
}
#service h1::after {
  content: "";
  background: #878c8c;
  width: 8rem;
  height: 5px;
  position: absolute;
  bottom: -0.5px;
  left: 50%;
  transform: translateX(-50%);
}

.single_service {
  /* box-shadow: 0 0 20px #bac3c3; */
  margin-top: 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  /* background: transparent; */
  /* transition: transform 0.2s, background 0.2s; */

  /* padding: 5px; */
}
.single_service .body_area:hover p {
  color: #fff;
}

.single_service :hover {
  background: #878c8c;
  color: #fff;
  transition: all 0.8s ease-in-out;
  /* transform: scale(1.02); */
}
#service .service_card .card_top {
  /* background-color: #000; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card_top h5 {
  color: #6c7070;
}

/* #service .service_card .card_top:hover {
  background-color: #ffa264;
  transition: all 0.8s ease-in-out;
  color: #fff;
} */
/* #service .service_card .body_area .card-title:hover {
  background-color: #c65000;
  transition: 0.2s ease-in-out;
  color: #fff;
} */

.social {
  width: 2.8rem;
  height: 2.8rem;
  background: #878c8c;

  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.social i {
  font-size: 1.3rem;
  padding: 0.65rem;
  color: #fff;
}
.social .fab {
  font-size: 1.6rem;
  padding: 0.52rem;
}
.single_service {
  position: relative;
  overflow: hidden;
}
.single_service span {
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 0.9s;
  transform: skewX(10deg);
}
.single_service:hover span {
  left: 150%;
}
/* #service .service_card .body_area {
  background-color: #ffa264;
} */

#service .service_card .card_botom .filled {
  color: #6c7070;
}
#service .service_card .card_botom .unfilled {
  color: lightgrey;
}
/*===== Service area End ===== */

/*==== Contact Area =====*/

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #ff7f5d;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff8f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #150517;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #62176b;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #ff7f5d;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ff7f5d;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #ff7f5d;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #ff9377;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #6c7070;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  padding-top: 3rem;
}

#footer .footer-top h4::after {
  content: "";
  background: #878c8c;
  width: 4rem;
  height: 0.3rem;
  position: absolute;
  bottom: 5px;
  left: 13%;
  transform: translateX(-50%);
}

#footer .footer-top {
  background: #313232;
  border-top: 1px solid #6c7070;
  border-bottom: 1px solid #6c7070;
  padding: 60px 0 30px 0;
  position: relative;
  margin-top: 5rem;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #878c8c;
  font-weight: 600;
  position: relative;
}
#footer .footer-top .footer-info h3::after {
  content: "";
  background: #878c8c;
  width: 7rem;
  height: 0.3rem;
  position: absolute;
  bottom: -5px;
  left: 22%;
  transform: translateX(-50%);
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  /* font-family: "Open Sans", sans-serif; */
  color: #878c8c;
}
#footer .footer-top .social-links a {
  font-size: 38px;
  display: inline-block;
  background: #878c8c;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 56px;
  height: 56px;
  transition: 0.5s;
}
#footer .footer-top .social-links a:hover {
  background: #313232;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.9s;
}
#footer .footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #878c8c;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #6c7070;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #878c8c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #6c7070;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
.text-highlight {
  color: #ff6700;
}

.text-highlight2 {
  color: #313232;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #313232;
}
#footer .credits a {
  color: #878c8c;
  text-decoration: none;
}
/* ====Back to Top Btn====  */
#topBtn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 2rem;
  background: #878c8c;
  color: #fff;
  display: none;
  transition: transform 0.5s, background 0.5s;
}
#topBtn:hover {
  background: #313232;
  color: #fff;
  border: 2px solid #6c7070;

  transform: scale(1.2);
}
/* =====Clint-card===== */
.partner_list {
  display: grid;
  grid-template-columns: (auto-fit, minmax(250px, 1fr));

  box-shadow: 0 0 20px #fff;
  flex: 1 1;
  padding: 0.5rem;
}

.clint-card {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.clint-list {
  display: flex;
  justify-content: center;
}
.clint-card i {
  font-size: 2.5rem;
  margin-bottom: 0.1rem;
  color: #878c8c;
}
.clint-card p {
  color: #313232;
}
.clint-card h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #878c8c;
  position: relative;
}

.clint-card h2::after {
  content: "";
  position: absolute;
  background: #878c8c;
  width: 5rem;
  height: 0.3rem;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.clint-card:hover{
  background: #313232;
  color: #fff;
  transform: scale(1.02);
}
.clint-card:hover i {
  color: #fff;
}
.clint-card:hover h2 {
  color: #fff;
}
.clint-card:hover p {
  color: #fff;
}

/* thank you*/
#banner{
  background:linear-gradient(rgba(0,0,0,0.5),#ff9377),url(../images/thanks.jpg) no-repeat center center/cover; 
  width: auto;
  height: 100vh;
  
}
.banner h1{
  font-size: 4rem;
  color: #FF7F61;
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
}

.banner a{
  color: #FF7F61;
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
}

.banner p {
  font-size: 3rem;
  color: #FF7F61;
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
}
.thanksbtn{ 
  font-weight: bold;
  width:auto;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  color: #FF7F61;
  border: 1px solid #ff7f5d;
  border-radius: 65px;
  background: none;  
  cursor: pointer;
}

.thanksbtn:hover{
  color: #fff;
  border: 1px solid #fff;
}

.tankufooter{
  margin-top: 180px;
}

#thankufooter{
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  padding-top: 3rem;
}