* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  color: #444444ed;
}
#about {
  margin-top: 2rem;
}

:root {
  /* Background Color */
  --bg-danger: rgba(0, 0, 0, 0.651);
  --bg-warning: #000;
}
/* margin: 0 auto 5rem auto; */
.line {
  width: 12rem;
  height: 3px;
  background: #fff;
  margin: 0 auto 0 2rem;
}
.line1 {
  width: 12rem;
  height: 3px;
  background: #fff;
  margin: 0 auto 5rem auto;
  margin-top: -1.6rem;
}
.line2 {
  width: 9rem;
  height: 3px;
  background: #262626;
  margin: 0 0 1rem;
}

.line3 {
  width: 7.5rem;
  height: 3px;
  background: #fff;
  margin: 0 auto 0 0.6rem;
}

/* ====Navigation CSS====*/
.navbar {
  background-color: var(--bg-danger);
}
.navbar .nav-item {
  padding-left: 0.4rem;
}

.navbar .nav-item i {
  font-size: 0.8rem;
  transition: all ease-in-out 0.7s;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-family: "Sriracha", cursive;
}
.navbar .nav-item a {
  transition: all ease-in-out 0.7s;
  color: #ff6700;
  font-weight: 600;
  position: relative;
}
.navbar .nav-item a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.3rem;
  width: 0;
  bottom: -0.5rem;
  background-color: #000;
  transition: all ease-in-out 0.7s;
}
.navbar .nav-item a:hover::after {
  width: 85%;
}

#header .fixed-top {
  box-shadow: 0 0.325rem 0.0975rem rgb(0 0 0 / 8%);
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
  color: #000;
}
/* #header .navbar-toggler-icon {
  width: unset;
  height: unset;
} */
#header .navbar-toggler:focus {
  box-shadow: none;
}
/* =====media query area ===== */

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0 !important;
  }
  #about {
    margin-top: 0px;
    padding-top: 0px;
  }
  .about h1 {
    margin-top: 0;
    padding-top: 0;
  }
  .about_text {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
  }
  #service {
    margin: 0;
    padding: 0;
  }
  #service h1 {
    font-size: 2rem;
  }
  #service h5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .about_text {
    font-size: 0.8rem;
  }
  .about_text h1 {
    font-size: 1rem;
    padding-top: 0px;
  }
  #about {
    margin-top: 0;
    padding-left: 0;
    padding: 0px;
  }
}

/* media query end */

/* ====Carousel CSS====*/
.carousel-item {
  height: 450px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  position: relative;
}
.carousel-caption h1,
p {
  color: #808080;
  text-align: justify;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
  background: transparent;
}
.home .slider-icon {
  font-size: 3rem;
  font-weight: 600;
  color: tomato;
}
.carousel-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  position: relative;
}

/*==== About Area =====*/
#about {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 950px;
  position: relative;
  border-bottom: 5px solid gold;
}
#about .dark_overlay {
  background: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .home-banner .home-banner-1, */
/* .home-banner .home-banner-1
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative; */

/*==== Service Area =====*/

#service {
  background-color: var(--bg-warning);
  margin-top: 0px;
  padding: 0px;
  height: 900px;
  overflow: hidden;
}

#service h1 {
  text-align: center;
  border: 8px solid;
  padding: 5px;
  color: #fff;
  border-image: linear-gradient(45deg, #ff7100, #484848) 10;
}

#service .service_card {
  box-shadow: 30px 20px 40px rgba (0, 0, 0, 0.7);

  /* padding: 5px; */
}
#service .service_card .card_top {
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.card_top h5 {
  color: #fff;
}

#service .service_card .card_top:hover {
  background-color: #ffa264;
  transition: all 0.8s ease-in-out;
  color: #fff;
}
/* #service .service_card .body_area .card-title:hover {
  background-color: #c65000;
  transition: 0.2s ease-in-out;
  color: #fff;
} */

.social {
  width: 2.8rem;
  height: 2.8rem;
  background: #ff8939;

  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.social i {
  font-size: 1.3rem;
  padding: 0.65rem;
  color: #fff;
}
.single_service {
  position: relative;
}
.single_service span {
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 0.7s;
  transform: skewX(10deg);
}
.single_service:hover span {
  left: 150%;
}
/* #service .service_card .body_area {
  background-color: #ffa264;
} */
#service .service_card .card_botom {
  background-color: #ffa264;
}
#service .service_card .card_botom .filled {
  color: #ff6700;
}
#service .service_card .card_botom .unfilled {
  color: lightgrey;
}
/*==== Contact Area =====*/
contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #ff7f5d;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff8f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #150517;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #62176b;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #ff7f5d;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ff7f5d;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #ff7f5d;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #ff9377;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0b212d;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .partner h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a2cce3;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top {
  background: #0d2735;
  border-top: 1px solid #17455e;
  border-bottom: 1px solid #123649;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #a2cce3;
  font-weight: 600;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 38px;
  display: inline-block;
  background: #1e4356;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 56px;
  height: 56px;
  transition: 0.5s;
}
#footer .footer-top .social-links a:hover {
  background: #68a4c4;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a2cce3;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #a2cce3;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #a2cce3;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #a2cce3;
  text-decoration: none;
}
